* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #121118;
}

#header {
    animation: header 0.5s alternate linear;
    background: white;
}

@keyframes header {
    0% {
        transform: translateX(-1200px);
    }
}

.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-Frame {
    display: flex;
    align-items: center;
}

.header-nav a {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding: 0 27px;
}

.header-Frame img {
    padding-right: 35px;
}

.header-btn button {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding: 10px 20px;
    background: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 15px;
}

#hero {

    padding: 30px;

}

.hero {
    animation: hero 0.5s alternate linear;
}

@keyframes hero {
    0% {
        transform: translateX(1200px);
    }
}

.hero h1 {
    font-weight: 400;
    font-size: 63px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 44px;
}


.hero h3 {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 73px;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-btn button {
    width: 281px;
    height: 66px;
    background: #ff4343;
    border-radius: 8px;
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;

}

.hero-btn span {
    padding-left: 10px;
}

.hero-btn p {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    padding: 19px 0;
}

.hero-img {
    display: flex;
    justify-content: center;
    position: relative;
}

.hero-img-two {
    position: absolute;
    right: 100px;
    animation: img-two 1.5s alternate linear;
}

@keyframes img-two {
    0% {
        transform: translateX(1200px);
    }

}

.shoot {
    animation: shoot 1.5s alternate linear;
}

@keyframes shoot {
    0% {
        transform: translateX(-1200px);
    }

}


.hero-img-one {
    animation: img-one 1.5s alternate linear;
}

@keyframes img-one {
    0% {
        transform: translateX(-1200px);
    }
}

#shoot {

}

.shoot h1 {
    font-weight: 400;
    font-size: 58px;
    color: #FFFFFF;
    padding: 40px 0;
    margin-left: -30px;

}

.shoot p {
    font-weight: 400;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: -30px;
}

.shoot-gen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-Frame {
    padding: 50px 0;
    position: relative;
    display: flex;
}

.img-one {
    position: absolute;
    left: 320px;
    bottom: 20px;
}

#text-frame {
    background: #121118;
    padding: 10px;
}


.text-shoot h1 {
    font-weight: 400;
    font-size: 58px;
    color: white;
    top: 30px;
    margin-left: 600px;
}


.text-shoot p {
    font-weight: 400;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 600px;
    padding-top: 20px;
}

.text-shoot {
    animation: text-shoot alternate 2.5s linear;
}

@keyframes text-shoot {
    0% {
        transform: translateX(1200px);
    }
}

.img-text {
    padding: 50px 0;
    position: relative;
    display: flex;
    top: -450px;
    right: 80px;
    margin-bottom: -500px;

}

.img-text {
    animation: img-text 2.5s alternate linear;
}

@keyframes img-text {
    0% {
        transform: translatex(-1200px);
    }

}

.text-shoot {
    animation: text-shoot 2.5s alternate linear;
}

@keyframes text-shoot {
    0% {
        transform: translateY(1200px);
    }
}


#text-contact {
    background: #121118;
}

.contact {
    justify-content: space-between;
    align-items: center;
    display: flex;

}

.contact-text {
    margin-bottom: 330px;
}


.contact-text h1 {
    font-weight: 400;
    font-size: 58px;
    color: #FFFFFF;
    margin-top: 350px;
}

.contact-text p {
    font-weight: 400;
    font-size: 27px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
}

.contact-text {
    animation: contact-text alternate 3s linear;
}

@keyframes contact-text {
    0% {
        transform: translateX(-1200px);
    }

}

.web-sait {
    display: flex;

}

.web-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

/*.web-block*/
.web-block {
    display: flex;
    color: #FFFFFF;
    background: #2a2525;
    width: 420px;
    height: 300px;
    border-radius: 15px;
    align-items: center;
    justify-content: end;
}

.you-tube {
    transition: .4s;
    background: red;
    width: 40px;
    height: 200px;
    padding: 5px 5px;
    border-radius: 8px 0 0 8px;
}

.you-tube:hover {
    transform: translateY(-25px);
}


.instagram {
    transition: .4s;
    background: #cb1f7f;
    width: 40px;
    height: 200px;
    padding: 5px 5px;
    border-radius: 8px 0 0 8px;
    margin-left: -10px;
}

.instagram:hover {
    transform: translateY(-25px);
}


.twitch {
    transition: .4s;
    background: #a062b4;
    width: 40px;
    height: 200px;
    padding: 5px 5px;
    border-radius: 8px 0 0 8px;
    margin-left: -10px;
}

.twitch:hover {
    transform: translateY(-25px);
}

.tik-tok {
    transition: .4s;
    background: #070909;
    width: 40px;
    height: 200px;
    padding: 5px 5px;
    border-radius: 8px 0 0 8px;
    margin-left: -10px;
}

.tik-tok:hover {
    transform: translateY(-25px);
}

.twitter {
    transition: .4s;
    background: #1aa9a6;
    width: 40px;
    height: 200px;
    padding: 5px 5px;
    border-radius: 8px 0 0 8px;
    margin-left: -10px;
}

.twitter:hover {
    transform: translateY(-25px);
}

.telegram {
    transition: .4s;
    background: #0762ec;
    width: 40px;
    height: 200px;
    padding: 5px 5px;
    border-radius: 8px 0 0 8px;
    margin-left: -10px;
}

.telegram:hover {
    transform: translateY(-25px);
}


.email {
    transition: .4s;
    background: #1aa983;
    width: 40px;
    height: 200px;
    padding: 5px 5px;
    border-radius: 8px 0 0 8px;
    margin-left: -10px;
}

.email:hover {
    transform: translateY(-25px);
}

.whatsapp {
    transition: .4s;
    background: #23b70c;
    width: 40px;
    height: 200px;
    padding: 5px 5px;
    border-radius: 8px 0 0 8px;
    margin-left: -10px;
}

.whatsapp:hover {
    transform: translateY(-25px);
}

.web-text {


}

.web-text h1 {
    font-weight: 400;
    font-size: 58px;
    color: #FFFFFF;
}

.web-text p {
    font-weight: 400;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
}

.consts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.web-text {
    animation: web-text alternate 3.5s linear;
}

@keyframes web-text {
    0% {
        transform: translateX(1200px);
    }
}

#foto-albom {
    background: #121118;
}

.albom {
    margin-top: 200px;
}


.albom-text h1 {
    font-weight: 400;
    font-size: 61px;
    color: #FFFFFF;
    /*margin: 300px;*/
    padding-left: 100px;
    text-align: center;
    top: 40px;

}

.albom-text p {
    font-weight: 400;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 560px;
    padding-top: 40px;
}

.foto-img {
    margin-left: 100px;
    padding-top: 100px;
}

.arrow {
    margin-left: 750px;
}

#liker {
    background: #121118;
}

.liker-text h6 {
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #8BFFB0;
    margin-top: 300px;
}

.liker-text h1 {
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
}

.liker-text p {
    font-weight: 400;
    font-size: 27px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
}

.more {
    margin-left: 100px;
    padding-top: 150px;
}

.jack {
    margin-top: 200px;
    margin-left: 40px;
}

.siste {
    position: relative;
    padding-bottom: 300px;
}

.siste img {
    height: 500px;
    width: 1300px;
    margin-left: 80px;
}

.siste h1 {
    position: absolute;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    color: #FFFFFF;
    bottom: 500px;
    margin-left: 27%;
    margin-bottom: 25px;
    transition: 0.4s;

}

.siste p {
    position: absolute;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: -200px;
    margin-left: 40%;
    transition: 0.4s;
}

.siste h1:hover {
    transform: translateY(-25px);
    background: red;
}

.siste p:hover {
    transform: translateY(-25px);
    background: red;
}

.featured-text h1 {
    font-weight: 400;
    font-size: 58px;
    color: #FFFFFF;
    margin-left: 140px;
    padding: 100px 0;

}

.featured-img {
    margin-left: 130px;
}

#web-end {
    background: #000000;
}
.end-text{
    display: flex;
    padding-top: 80px;
}
.end-one{
    margin-left: 180px;

}


.end-text img {
  margin-left: -50px;
  padding-top: 30px;
}
.end-one h2{
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 35px 0;


}

.end-one h5{
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 20px;

}



.instagram-text{
    margin-left: 120px;
}
.instagram-text h2{
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 40px 0;
}
.instagram-text h5{
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-top:15px;

}

.youtube-end{
    margin-left: 120px;
}
.youtube-end h2{
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 40px 0;
}
.youtube-end h5 {
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 15px;
}

.icon-end{
    display: flex;
    margin-left: 160px;
    padding-top: 40px;
    color: #FFFFFF;
    gap: 20px;
}








